.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__title {
    @extend %section-title;

    &--hidden {
        @extend %visually-hidden;
    }
}

.features-list {
    @extend %list;
    display: flex;
    gap: 30px;
}

.features-card {
    &__image {
        display: flex;
        width: 270px;
        height: 120px;
        background-color: $secondary-bcg-color;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 4px;
    }
    &__icon {
    width: 70px;
    height: 70px;
    }

    &__title {
        color: $title-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
        width: 270px;
    }

    &__description {
        font-size: 14px;
        line-height: 1.71;
        margin-top: 0;
        margin-bottom: 0;
        width: 270px;
    }

}
